.corpo{
    background-color: pink;
}
.titulo{
    font-size: 50px; 
    color: white; 
    background: rgb(219, 70, 120);
    text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}